<ion-menu contentId="main-content">
  <ion-header>
    <ion-toolbar color="tertiary">
      <ion-title>Menu</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content class="ion-padding">
    <ion-list>
      <ion-menu-toggle auto-hide="false">
          <ion-item (click)="cerrarSesion()">
             <ion-icon name="log-out-outline"></ion-icon>
              <ion-label>Cerrar sesión</ion-label>
          </ion-item>
      </ion-menu-toggle>
      </ion-list>
  </ion-content>
</ion-menu>
<div class="ion-page" id="main-content">
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>App sinteticas</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content>
    <ion-router-outlet></ion-router-outlet>
    <ion-tabs>  
      <ion-tab-bar slot="bottom">
        <ion-tab-button tab="reservas">
          <ion-icon name="list-outline"></ion-icon>
          Mis reservas
        </ion-tab-button>
        <ion-tab-button tab="canchas" *ngIf="esProovedor">
          <ion-icon name="football-outline"></ion-icon>
          Mis canchas
        </ion-tab-button>
      </ion-tab-bar>
    </ion-tabs>
  </ion-content>
</div>




