<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content color="transparent" class="ion-padding">
  <div class="div-img-login">
  <ion-img
    src="https://res.cloudinary.com/dlmuauyqc/image/upload/v1681673661/animation_300_lgjt29bt_ucyuth.gif" class="img-login"
  ></ion-img></div>
  <ion-text color="dark" class="ion-text-center"><h4>Bienvenido a CanchasYa!</h4></ion-text>
  <ion-text color="dark" class="ion-text-center"><h6>Completa el formulario para vivir la pasión del futbol</h6></ion-text>
  <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
    <ion-item lines="none" class="padding-form">
      <ion-label class="label-form" position="stacked">Usuario</ion-label>
      <ion-input formControlName="usuario" class="form-username"></ion-input>
    </ion-item>
    <ion-item lines="none" class="padding-form">
      <ion-label class="label-form" position="stacked">Contraseña</ion-label>
      <ion-input
        formControlName="password"
        type="password"
        class="form-password"
        fill="outline"
      ></ion-input>
    </ion-item>
    <ion-item lines="none" class="padding-form">
      <ion-label class="label-form" position="stacked">Correo Electronico</ion-label>
      <ion-input
        formControlName="correo"
        type="email"
        class="form-email"
        fill="outline"
      ></ion-input>
    </ion-item>
    <ion-item lines="none" class="padding-form">
      <ion-label class="label-form" position="stacked">Celular</ion-label>
      <ion-input
        formControlName="celular"
        type="tel"
        class="form-phone"
        fill="outline"
      ></ion-input>
    </ion-item>
    <ion-item lines="none" class="padding-form">
      <ion-toggle formControlName="indicadorProveedor" aria-label="Success toggle" color="success">¿Es proveedor de <br>canchas sinteticas?</ion-toggle><br /><br />
    </ion-item>
  </form>
</ion-content>
<ion-footer class="ion-no-border ion-text-center">
  
  <div class="div-submit">
    <ion-button class="ion-text-center btn-submit" (click)="onSubmit()" type="submit"> REGISTRARME </ion-button>
  </div>
 <ion-toolbar>
  Ya tienes una cuenta? <a [routerLink]="['/login']">Inicia sesión aquí!</a>
  </ion-toolbar>
</ion-footer>

<ion-alert
  [isOpen]="isAlertOpen"
  [header]="StatusAlert"
  [message]="MessageAlert"
  [buttons]="alertButtons"
  (didDismiss)="isAlertOpen=false"
></ion-alert>
