<ion-content [fullscreen]="true" style="background-color: white;" class="ion-padding">
  <swiper-container
    class="slide-home"
    autoplay="true"
    autoplay-delay="5000"
    speed="1000"
    [slidesPerView]="1"
    [loop]="true"
  >
    <swiper-slide *ngFor="let slide of slides"
      ><ion-img [src]="slide.image"></ion-img>
      <ion-grid>
        <ion-row style="padding: 0px 20px; text-align: left;">
          <ion-col size="12"><h3>{{slide.title}}</h3></ion-col>
          <ion-col size="12"><h6>{{slide.subtitle}}</h6></ion-col>
        </ion-row>
      </ion-grid>
    </swiper-slide>
  </swiper-container>
  <ion-grid>
    <ion-row style="text-align: center">
      <ion-col size="12"
        ><ion-button
          style="width:90%;margin: 10px 0px"
          [routerLink]="['/login']"
        >
          INICIAR SESIÓN</ion-button
        ></ion-col
      >
      <ion-col size="12"
        ><ion-button style="width:90%; margin: 10px 0px"
        [routerLink]="['/register']">
          REGISTRARME</ion-button
        ></ion-col
      >
    </ion-row>
  </ion-grid>
</ion-content>
