<ion-header class="ion-no-border ion-padding-horizontal">
  <ion-toolbar>
    <div slot="start">Mis Canchas</div>
    <div slot="end">
      <ion-button
        class="ion-text-center btn-submit"
        id="new-modal"
        expand="block"
        type="submit"
      >
        Crear cancha
      </ion-button>
    </div>
  </ion-toolbar>
</ion-header>
<ion-content color="transparent" class="ion-padding-horizontal">
  <h6 style="color: black">
    Selecciona alguna de las canchas para actualizar o ver toda la información
  </h6>

  <div class="cont-card" *ngFor="let item of canchas">
    <div class="card-canchas">
      <div class="" style="width: 35%">
        <img
          src="https://res.cloudinary.com/dlmuauyqc/image/upload/v1682189465/5581045_tjxm27.jpg"
          class="img-cancha"
        />
      </div>
      <div class="info-canchas" style="width: 65%">
        <span class="title-cancha">Cancha: </span
        ><span class="subtitle-cancha">{{item.direccion}}</span><br />
        <span class="title-cancha">Cantidad de jugadores: </span>
        <span class="subtitle-cancha">{{item.cantidadJugadores}}</span><br />
        <span class="title-cancha">Valor: </span
        ><span class="subtitle-cancha"
          >{{item.precio | currency:'$':'symbol':'1.0-0' }}</span
        ><br /><br />
      </div>
      <div class="cont-button">
        <ion-button
          class="ion-text-center btn-submit"
          [id]="'edit-modal-'+item.idCancha"
          expand="block"
          type="submit"
        >
          Actualizar datos
        </ion-button>
      </div>
      <div class="cont-button">
        <ion-button
          class="ion-text-center btn-submit"
          [id]="'edit-horarios-modal-'+item.idCancha"
          expand="block"
          type="submit"
        >
          Editar horarios
        </ion-button>
      </div>
      <ion-modal
        [id]="'edit-modal-'+item.idCancha"
        [trigger]="'edit-modal-'+item.idCancha"
        (willDismiss)="onWillDismiss($event)"
      >
        <ng-template>
          <ion-header>
            <ion-toolbar>
              <ion-buttons slot="start">
                <ion-button (click)="cancel('edit-modal-'+item.idCancha)"
                  >Cancelar</ion-button
                >
              </ion-buttons>
              <ion-title>Editar Cancha</ion-title>
            </ion-toolbar>
          </ion-header>
          <ion-content class="ion-padding-no">
            <app-edit-suppliers
              (ejecutarFuncion)="confirm('edit-modal-'+item.idCancha)"
              [idCancha]="item.idCancha"
            ></app-edit-suppliers>
          </ion-content>
        </ng-template>
      </ion-modal>
      <ion-modal
        [id]="'edit-horarios-modal-'+item.idCancha"
        [trigger]="'edit-horarios-modal-'+item.idCancha"
        (willDismiss)="onWillDismiss($event)"
      >
        <ng-template>
          <ion-header>
            <ion-toolbar>
              <ion-buttons slot="start">
                <ion-button
                  (click)="cancel('edit-horarios-modal-'+item.idCancha)"
                  >Cerrar</ion-button
                >
              </ion-buttons>
              <ion-title>Editar Horarios</ion-title>
            </ion-toolbar>
          </ion-header>
          <ion-content class="ion-padding-no">
            <app-edit-schedules [idCancha]="item.idCancha"></app-edit-schedules>
          </ion-content>
        </ng-template>
      </ion-modal>
    </div>
  </div>
  <ion-modal
    id="new-modal"
    trigger="new-modal"
    (willDismiss)="onWillDismiss($event)"
  >
    <ng-template>
      <ion-header>
        <ion-toolbar>
          <ion-buttons slot="start">
            <ion-button (click)="cancel('new-modal')">Cancelar</ion-button>
          </ion-buttons>
          <ion-title>Crear Cancha</ion-title>
        </ion-toolbar>
      </ion-header>
      <ion-content class="ion-padding-no">
        <app-new-suppliers
          (ejecutarFuncion)="confirm('new-modal')"
        ></app-new-suppliers>
      </ion-content>
    </ng-template>
  </ion-modal>
</ion-content>
