.card-canchas{
    border-radius: 25px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    display: flex;
    margin: 25px 0px;
}

.img-cancha{
    border-radius: 25px;
    height: 100%;
}

.info-canchas{
    padding-left: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
    color:#8e8e8e;
}

.title-cancha{
 font-weight: 600;
 font-size: 14px;
}

.subtitle-cancha{
    font-size: 13px;
}

.div-submit {
    justify-content: end;
    display: flex;
    padding: 0px 0px;
  }
  
  .btn-submit::part(native){
    border-radius: 15px;
    padding: 10px 15px ;
  }
  
  .btn-submit{
    height: 30px;
  }