<ion-header class="ion-no-border">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content color="transparent" class="ion-padding">
  <div class="div-img-login">
  <ion-img
    src="https://res.cloudinary.com/dlmuauyqc/image/upload/v1681670529/animation_300_lgjr0s28_dknh2f.gif" class="img-login"
  ></ion-img></div>
  <ion-text color="dark" class="ion-text-center"><h4>Bienvenido a CanchasYa!</h4></ion-text>
  <ion-text color="dark" class="ion-text-center"><h6>Ingresa tu usuario y contraseña para continuar</h6></ion-text>
  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
    <ion-item lines="none" class="padding-form">
      <ion-label class="label-form" position="stacked">Usuario</ion-label>
      <ion-input formControlName="usuario" class="form-username"></ion-input>
    </ion-item>
    <ion-item lines="none" class="padding-form">
      <ion-label class="label-form" position="stacked">Contraseña</ion-label>
      <ion-input
        formControlName="password"
        type="password"
        class="form-password"
        fill="outline"
      ></ion-input>
    </ion-item>
    <div class="div-submit">
      <ion-button class="ion-text-center btn-submit" type="submit"> INGRESAR </ion-button>

    </div>
  </form>
</ion-content>
<ion-footer class="ion-no-border ion-text-center">
 <ion-toolbar>
  Aun no tienes cuenta? <a [routerLink]="['/register']">Registrate aquí!</a>
  </ion-toolbar>
</ion-footer>

<ion-alert
  [isOpen]="isAlertOpen"
  [header]="StatusAlert"
  [message]="MessageAlert"
  [buttons]="alertButtons"
  (didDismiss)="isAlertOpen=false"
></ion-alert>

