<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content [fullscreen]="true" color="transparent">
  <ion-card>
    <ion-card-content>
      <form [formGroup]="loginForm" >
        <ion-item>
          <ion-label position="floating">Usuario</ion-label>
          <ion-input formControlName="username"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="floating">Contraseña</ion-label>
          <ion-input formControlName="password" type="password"></ion-input>
        </ion-item>
        <ion-item>
          <ion-button type="submit">
            Ingresar
          </ion-button>
        </ion-item>
      </form>
    </ion-card-content>
  </ion-card>
</ion-content>
<ion-footer>
  <ion-toolbar color="primary">
    <ion-button [routerLink]="['/register']" type="submit" slot="end">
      Registrarme
    </ion-button>
  </ion-toolbar>
</ion-footer>
