/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import '@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";

@import url('https://fonts.googleapis.com/css?family=Playfair+Display:400,900|Poppins:400,500');
	* {
	  margin: 0;
	  padding: 0;
	  text-decoration: none;
	  box-sizing: border-box;
	  -webkit-tap-highlight-color:rgba(0,0,0,0);
	  -webkit-text-size-adjust:none;
	  -webkit-font-smoothing: antialiased;
	  -moz-osx-font-smoothing: grayscale;
	}
	body {
	  margin: 0;
	  padding: 0;
	  background: #ffffff;
	  font-family: 'Poppins', sans-serif;
	  overflow-x: hidden;
	  margin: auto;
	  -webkit-box-align: center;
	      -ms-flex-align: center;
	          align-items: center;
	  display: -webkit-box;
	  display: -ms-flexbox;
	  display: flex;
	  -webkit-box-pack: center;
	      -ms-flex-pack: center;
	          justify-content: center;
	  flex-flow: row wrap;
	  -ms-flex-flow: row wrap;
	}

	.toolbar-background{
		background: white !important;
	}

	.card-canchas {
		border-radius: 25px;
		box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
		display: flex;
		margin: 25px 0px;
		flex-wrap: wrap;
	  }
	  
	  .cont-button {
		width: 50%;
		padding: 10px 5px 10px 5px;
		font-size: 13px;
	  }
	  
	  .img-cancha {
		border-radius: 25px;
		height: 100%;
	  }
	  
	  .info-canchas {
		padding-left: 10px;
		padding-top: 20px;
		padding-bottom: 20px;
		color: #8e8e8e;
	  }
	  
	  .title-cancha {
		font-weight: 600;
		font-size: 14px;
	  }
	  
	  .subtitle-cancha {
		font-size: 13px;
	  }
	  
	  .div-submit {
		justify-content: end;
		display: flex;
		padding: 0px 0px;
	  }
	  
	  .btn-submit::part(native) {
		border-radius: 15px;
		padding: 10px 15px;
		text-transform: none;
	  }
	  
	  .btn-submit {
		height: 30px;
	  }
	  